/* 
#  __                        
# /__ |  _.   ._  _ |_  _ ._ 
# \_| |_(_||_|| |(_ | |(/_|  
#
# GLauncher: "GLauncher.css" file.
*/

body {
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
        font: Arial;
        color: #FFFFFF;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #FF0000;
}
a:active {
	color: #FFFFFF;
}

/* Styles */
h1 {
    font-size: 24px;
}

ul {
    font-size: 16px;
    list-style-image : url("../images/Bullet_Point.png");
}

/* Build Page */
#MainContainer {
    width: 700px;
    height: 500px;
    background: url(../images/background_stars.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
#Header {
    width: 80%;
    height: 30px;
    background: url(../images/background_header.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: #FFFFFF;
}
#ContentHolder {
    width: 80%;
    height: 72%;
    background: url(../images/Background_White_Opacity_60.png);
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    border-bottom: 10px;
    font: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#ContentBox {
    font-size: 16px;
    overflow: auto;
    max-height: 195px;
    max-width: 100%;
    word-wrap: break-word;
}
